body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
}

h1, h2 {
    color: #333;
}

p {
    margin-bottom: 20px;
}

.buttons .btn, button {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.buttons .btn:hover, button:hover {
    background-color: #0056b3;
}

form label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    color: #333;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
